llama-index
llama-index-llms-google-genai
llama-index-vector-stores-chroma
llama-index-packs-raptor
llama-index-embeddings-cohere
uvicorn==0.27.1
fastapi==0.109.2
python-multipart
aiofiles
requests==2.31.0
beautifulsoup4==4.12.3
google-generativeai
pydantic==2.6.1